[core]
	excludesfile = /Users/cec/.gitignore_global
	ignorecase = false
[user]
	name = Cecilie Ditlevsen
	email = cecilierd98@gmail.com
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
	default = current

[alias]
	pr = "!f() { exec az repos pr \"$@\"; }; f"
	repo = "!f() { exec az repos \"$@\"; }; f"
